
@{
    Layout = null;
}
@model _006_Models.Models._003_SinglModel.Game

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_003_SingleModel</title>
</head>
<body>
    <h5>@Model.Name</h5>
    <h5>@Model.Platform</h5>
    <h5>@Model.Engine</h5>
</body>
</html>
