<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form method="post" action="~/Home/_005_FormForRegister">
        <label>Name</label><br>
        <input type="text" name="name" /> <br>
        <label>Surname</label><br>
        <input type="text" name="surname" /><br>
        <label>Age</label><br>
        <input type="text" name="age" /><br>

        <button type="submit">Sent</button>
    </form>
</body>
</html>