<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ViewBag.Titel</title>
</head>
<body>
    <h3>@ViewData["test"]</h3>
    <h3>@ViewBag.DataBag</h3>
    <h3>@ViewBag.DataBagTest1</h3>
</body>
</html>