@{
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Loaded _Layout</h1>
@Html.Partial("_006_ViewImport")
@Html.Partial("~/Views/Home/_005_FormForRegisterView.cshtml")
@Html.Partial("../Home/_005_FormForRegisterView")