
@{
    Layout = null;
}

@model IEnumerable<(string, string)>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var item in Model)
    {
        if (item.Item1.IndexOf("_001_")>=0)
        {
            <br>
        }

        <a href="~/@item.Item2">@item.Item1</a> <br>
    }
</body>
</html>
