@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<form asp-action="index" method="post">

    <input name="value" type="text"/>
    <input type="submit"/>
</form>

<a asp-action="Test">tes2t</a>