@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MicoGroup</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <style>

        .section-seporator {
            padding: 100px 0px;
        }

        ul {
            margin: 0px;
            padding: 0px;
        }

            ul li {
                list-style-type: none;
            }

        .core-img {
            background-image: url(image/home-bg-img.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0 auto;
            background-position: center center;
        }

        .core-img-map {
            background-image: url(image/map-color-overlay.png);
        }

        .core-bg-white {
            background-color: white;
        }

        .img-color-overlay {
            background-color: rgb(255, 255, 255, 0.9);
        }

        address {
            display: inline-block;
            margin: 0px;
        }

        .border-img {
            border: 20px solid rgb(2, 2, 2, 0.1);
            border-radius: 32%;
            min-width: 250px;
            max-width: 350px;
        }

            .border-img img {
                border: 20px solid rgb(128, 128, 128, 0.17);
                border-radius: 30%;
            }

        .home-padding {
            padding: 180px 0px;
        }

        .about-inner ul > li {
            display: inline-block;
            border: 1px solid #8cff8c;
            padding: 4px 10px;
            border-radius: 4px;
            margin: 1px;
        }

            .about-inner ul > li:hover {
                background-color: #f5ab359e;
            }

        .core-fs-35 {
            font-size: 35px;
        }

        .core-fs-65 {
            font-size: 65px;
        }

        .core-img-logo {
            max-width: 160px;
        }
    </style>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">😀</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#"> <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#service">Работа</a>
                    <a class="nav-item nav-link" href="#">Развитие</a>
                    <a class="nav-item nav-link disabled" href="#">ХЗ</a>
                </div>
            </div>
        </nav>

    </header>

    <section class="headerMain">
        <div class="core-img">
            <div class="img-color-overlay home-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h1>Hi👋</h1> <br>
                            <h3>Меня зовут Миша,<br>Я занимаюсь разработкой IT </h3>
                            <h4>С# Developer Full Stack</h4>

                            <ul>
                                <li>
                                    <i class="fab fa-github"></i>
                                    <a href="https://github.com/Mico-LIT">Github</a>
                                </li>
                                <li>
                                    <i class="fas fa-phone"></i>
                                    <a href="tel:+7(923)188-08-45">+7(923)188-08-45</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:redgame0@gmail.com?subject='Сотрудничество MicoGroup'">redgame0@gmail.com</a>
                                </li>
                                <li>
                                    <i class="fab fa-instagram"></i>
                                    <a href="https://www.instagram.com/micom_">Instagram</a>

                                    <i class="fab fa-telegram"></i>
                                    <a href="https://t.me/imickey1">Telegram</a>

                                    <i class="fab fa-vk"></i>
                                    <a href="https://vk.com/micom">VK</a>
                                </li>


                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 align-self-center">
                            <div class="border-img">
                                <img src="https://avatars0.githubusercontent.com/u/13939762?s=460&v=4" class="img-fluid" />
                                @*<img src="https://avatars0.githubusercontent.com/u/13939761?s=460&v=4" class="img-fluid" />*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-sm-12 col-md-6">
                    <img src="http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/ab-img.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="about-inner">
                        <h2>Обо мне</h2>
                        <p>
                            Подсел на эту цифровую иглу 💉 в 20х. Мне удалось зацепить этот момент когда мир начал переходить
                            из аналогово в цифровую среду! Как помню мой первый компьютер DOS (дисковая операционная система) 💾.
                            Мне стало интересно что и как это работает и понеслось..😅 Со времени сам собрал свой компьютер подключил,
                            настроил и вот она 🚀) игры, учеба и интернет) о да я помню эти звуки когда ты делаешь подключение для выхода в сеть 🕸))
                            Взлом игр, поиск узких мест, общение на форумах, создание в прошивку модификаций на телефон 📱 и ее продажа)
                            я понимаю что общение с любой цифровой техникой идёт на ТЫ) Принимаю решение что мне нужно высшее техническое
                            образование и расширить свой кругозор и на этом не останавливается!! И вот я в ИТ) Важно постоянно держать руку на пульсе.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="experience">
        <div class="core-img">
            <div class="img-color-overlay">
                <div class="container">
                    <div class="row pb-5 pt-5">
                        <div class="col-12 pb-5">
                            <h3 class="pb-5 text-center">🛠Опыт работы🛠</h3>

                            <div class="core-bg-white shadow p-4">
                                <img src="~/image/logo/Sgups_logo.jpg" alt="1xbet" class="rounded float-right core-img-logo p-2">
                                <a class="h5" href="https://www.stu.ru">СГУПС (Сибирский государственный университет путей сообщения)</a>
                                <p>Дата 01.2017</p>
                                <p>
                                    Была поставлена задача в существующем бизнес процессе решить проблему с документом оборотом. Операционист рассказ и показал все процессы и указывал на боли в работе.
                                    <br>
                                    Отдел занимался выдачей сертификатов ученикам прошедший тот или оной курс и ведения (протоколирование).
                                    Покупался сертификат + к ним идёт программное обеспечение. При этом операционист выполнял работу с десяток
                                    сертификатов и к каждому сертификату предоставлялось своё ПО.
                                    Было принято решение сделать все в одной программе и реализовать учёт выданных сертификатов.
                                    <br>
                                    После того как я изучил, проанализировал, систематизировал все проблемы и начал свою работу!
                                    <br>
                                    Была реализована программа первый версии которая выполняла следующие:
                                    Сканирование сертификатов разных типов (шаблоны) и сохраняла в базу данных.
                                    Операционист после сканирования сертификата указывал где будет выводиться нужная информация текущего сертификата.
                                    Печать шаблона и вывода данных под каждый тип сертификата.
                                    Экспортирование данная из одной информационной системы в другую.
                                    Ведение учета по выданным сертификата выпускнику прошедший курс.
                                </p>

                                <h3 class="text-center">Stack technology:</h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">BakcEnd "C#"</h5>
                                                <ul>
                                                    <li>.Net Framework</li>
                                                    <li>WPF xaml</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">Other Systems:</h5>
                                                <ul>
                                                    <li>GitHub</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="core-bg-white shadow p-4">
                                <img src="~/image/logo/OtlNal_logo.png" alt="1xbet" class="rounded float-right  core-img-logo p-2">
                                <a class="h5" href="https://www.otlnal.ru/">Отличные наличные (Микрофинансовая компания)</a>
                                <p>Дата 11.2016 - 07.2018</p>
                                <p>
                                    В обязанности входило:
                                    Сопровождение, разработка и доработка текущего функционала.
                                    Поступали задачи разного характера:
                                    Написания sql процедур (отчета, триггеры, функции), проводил нормализацию БД, создания API для сторонних продуктов,
                                    внедрение и разработка API для внутренних бизнес процессов.
                                    Основная логика была реализована на sql процедурах + в процессе была реализована API,
                                    попытка абстрагироваться от sql. Был применён паттерн DDD(domain driving design) в качестве ORM использовали hibernates.
                                    Работал с телефонией Oktell (Создание сценариев и поведения системы). Плотно работала с Microsoft SQL Server.
                                    Параллельно писалась своя телефония на AngularJS ,занимался ее обслуживанием. Была своя АТС asterisk.
                                </p>

                                <h3 class="text-center">Stack technology:</h3>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">BakcEnd "C#"</h5>
                                                <ul>
                                                    <li>ASP.net MVC | Web API | WebForms</li>
                                                    <li>Microsoft SQL Server</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">FrontEnd:</h5>
                                                <ul>
                                                    <li>HTML</li>
                                                    <li>CCS</li>
                                                    <li>JS</li>
                                                    <li>jQuery</li>
                                                    <li>AngularJS</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">Other Systems:</h5>
                                                <ul>
                                                    <li>IIS</li>
                                                    <li>TFS</li>
                                                    <li>GitLab</li>
                                                    <li>Oktell (Телефония)</li>
                                                    <li>Atlassian (Jira)</li>
                                                    <li>Atlassian (Confluence)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="core-bg-white shadow p-4">
                                <img src="~/image/logo/ClassBoom_logo.png" alt="1xbet" class="rounded float-right  core-img-logo p-2">
                                <a class="h5" href="https://classboom.com/">ClassBoom (Единый абонемент фитнеса)</a>
                                <p>Дата 07.2018 - 10.2019</p>
                                <p>
                                    <ul>
                                        <li class="font-italic">Поддержка продукта, разработка и внедрение новых сервисов.</li>
                                        <li>• Поддержка приложения и внутреннею CRM</li>
                                        <li>• Интеграция с Yclients</li>
                                        <li>• Реализация парсеров для сайтов партнеров</li>
                                        <li>• Нормализацию БД, систематизация данных</li>
                                        <li>• Составление отчетов для бухгалтерии и менеджеров</li>
                                        <li>• Тестирование приложения нахождение ошибок.</li>
                                        <li class="font-italic">Разработка маркетинговых инструментов.</li>
                                        <li>• Email рассылка</li>
                                        <li>• Интеграция с UniSender</li>
                                        <li>• Amazon Services (Push notifications)</li>
                                    </ul>
                                    Принимал участие в планерках по улучшению приложения, выдвигал предложения по оптимизации бизнес процессов как для внутренней системы так и для пользователей.
                                    Проводил нагрузочное тестирование Api (Apache JMeter). Находил узкие места в SQL запросах, API и увеличивал пропускную способность выполнения.
                                </p>

                                <h3 class="text-center">Stack technology:</h3>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">BakcEnd "C#"</h5>
                                                <ul>
                                                    <li>Microsoft SQL Server</li>
                                                    <li>MsMQ</li>
                                                    <li>ORM Dapper, EntityFramework</li>
                                                    <li>ASP.net MVC | Web API</li>
                                                    <li>Монолит 3-х уровненная архитектура.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">FrontEnd:</h5>
                                                <ul>
                                                    <li>HTML5</li>
                                                    <li>AngularJs</li>
                                                    <li>Vue</li>
                                                    <li>Framework7</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">Other Systems:</h5>
                                                <ul>
                                                    <li>IIS</li>
                                                    <li>Jira</li>
                                                    <li>Bitbucket</li>
                                                    <li>Amazon</li>
                                                    <li>Apache JMeter</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="core-bg-white shadow p-4">
                                <img src="~/image/logo/1xbet_logo.png" alt="1xbet" class="rounded float-right core-img-logo p-2">
                                <a class="h5" href="https://1xstavka.ru/">1XBET (Букмекерская компания)</a>
                                <p>Дата 10.2019 - тек</p>
                                <p>
                                    Площадка предоставляет начиная от ставок на спорт,онлайн казино и игры и тд.
                                    Работал в команде по интеграции "Онлайн казино".
                                    В обязанности входило общение с командой и решение текущих вопросов за прожитый день. Общение с манагерами и не посредственно с представителями платформы.
                                    Интеграция новых продуктов по средствам создания сервисов (ASP.NET Core | Web API | WCF) Перевод старых сервисов WCF на ASP.NET Core. Микросервисная архитектура. Деплой проектов через TeamCity. Задачи в "YouTrack". Контроль версий GitLab.
                                </p>

                                <h3 class="text-center">Stack technology:</h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">BakcEnd "C#"</h5>
                                                <ul>
                                                    <li>.Net Core</li>
                                                    <li>.Net Framework</li>
                                                    <li>RabbitMQ</li>
                                                    <li>ADO.Net</li>
                                                    <li>ASP.NET Core | Web API</li>
                                                    <li>WCF</li>
                                                    <li>MySQL</li>
                                                    <li>MongoDB</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">Other Systems:</h5>
                                                <ul>
                                                    <li>Kibana</li>
                                                    <li>Hackmd</li>
                                                    <li>YouTrack</li>
                                                    <li>GitLab</li>
                                                    <li>Atlassian (Confluence)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12">
                            <h3 class="pb-5 text-center">📚Образование📚</h3>

                            <div class="core-bg-white shadow p-4">
                                <p class="h5">
                                    СГУПС (Сибирский государственный университет путей сообщения),<br>
                                    Факультет  <a href="https://www.stu.ru/education/index.php?page=176">"Бизнес-информатика"</a>,<br>
                                    Направление: <span class="font-italic">"Информационные системы и технологии"</span>
                                <p>2013-2017</p>
                                <p class="m-0">
                                    Закончил высшее учебное заведение в городе Новосибирск.
                                    Факультет БИ ("Бизнес-информатика") выделялся из всех это была вишенка на торте🍒. Я понимал что мир меняется,
                                    он становится цифровым и именно Бизнес и Информатика это то что мне нужно!
                                    В универе был хороший преподавательский состав (большая часть). Универ дал широкий спектр для выбора направления 🧭.
                                    <ul>
                                        <li>• Программирование</li>
                                        <li>• Сопровождение бизнес процессов и корпоративных информационных систем</li>
                                        <li>• Сетевые технологии</li>
                                        <li>• Базы данны</li>
                                        <li>• Интеллектуальные информационные системы</li>
                                        <li>• Web-технологии</li>
                                        <li>• Моделирование бизнес-процессов</li>
                                    </ul>
                                    Мне больше импонировало что-то создавать, реконструировать сложные объекты, делать связку между разными
                                    системами и видеть результат. Я выбрал программирование. Универ дал базу и дальше все зависело от меня и
                                    что важное здесь, главное продолжать учиться! Не останавливаться! Стать лучшим в этом деле!
                                </p>
                            </div>

                            <div class="core-bg-white shadow p-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Книги 📚 </h5>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Стив Макконнелл: Совершенный код. Мастер-класс
                                                        <span class="badge badge-primary badge-pill">35%</span>
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Приемы объектно-ориентированного проектирования. Паттерны проектирования
                                                        <span class="badge badge-primary badge-pill">0%</span>
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Алгоритмы: построение и анализ Книга, Клиффорд Штайн, Рональд Линн Ривест, Томас Кормен, и Чарльз Эрик Лейзерсон
                                                        <span class="badge badge-primary badge-pill">0%</span>
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Рефакторинг. Улучшение проекта существующего кода | Фаулер Мартин, Бек Кент
                                                        <span class="badge badge-primary badge-pill">0%</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Цифровая информация🌐</h5>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        <a href="https://itvdn.com/ru">Itvdn (Видеокурсы по программированию)</a>
                                                        <span class="badge badge-primary badge-pill">60%</span>
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        <a href="http://www.quizful.net/page/about">Quizful сервиса онлайн тестирования</a>
                                                        <span class="badge badge-primary badge-pill">40%</span>
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        <a href="https://docs.microsoft.com/ru-ru/">Microsoft Docs</a>
                                                        <span class="badge badge-primary badge-pill">30%</span>
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        <a href="http://www.pskills.org/onlinetest.jsp">Programming skills</a>
                                                        <span class="badge badge-primary badge-pill">20%</span>
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        <a href="https://www.tutorialspoint.com/index.htm">Tutorialspoint</a>
                                                        <span class="badge badge-primary badge-pill">20%</span>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service" id="service">
        <div class="container">
            <div class="row pb-5 pt-5">
                <div class="col-sm-12">
                    <h2 class="text-center mb-5">Чем я могу быть тебе полезен 🎯</h2>
                </div>
                <div class="col-sm-4 p-2">
                    <div class="shadow p-5 h-100 text-center">
                        <i class="fas fa-object-ungroup core-fs-35"></i>
                        <h3>App-Разработка</h3>
                        <p>
                            Настольное приложение может покрыть широкий спектр задач.
                            Это может решение по оптимизации бизнес процесса, выполнение сложного математические вычисления,
                            лабораторная работа, получать в онлайне актуальные данные
                            с любых ресурсов или вообще настольная игра. Реализовать можно все
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 p-2">
                    <div class="shadow p-5 h-100 text-center">
                        <i class="fas fa-bullseye core-fs-35"></i>
                        <h3>Консалтинг</h3>
                        <p>
                            Это важный сегмент. Разработка любого продукта стоит немалых денег и любой недочёт или ошибка будет
                            уператься именно в них. На этом этапе обсуждается на каком языке будет написан продукт, сложность, поддержка,
                            хранение данных, разработка прототипа, анализ вашего исходного программного кода и тд
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 p-2">
                    <div class="shadow p-5 h-100 text-center">
                        <i class="fas fa-code core-fs-35"></i>
                        <h3>Web-Разработка</h3>
                        <p>
                            Создание как статических и динамических интернет-продуктов.
                            Охватывая весь спектр FrontEnd и BackEnd. Web позволяют внедрять и
                            автоматизировать уникальные бизнес-процессы на предприятии,
                            а также усовершенствовать внедренные корпоративные системы управления. Работа в двух секторах B2C и B2B
                        </p>
                    </div>
                </div>

                <div class="col-12 p-0">
                    <div class="row">
                        <div class="row justify-content-center">
                            <div class="col-sm-4  p-2">
                                <div class="shadow p-5 h-100 text-center">
                                    <i class="fas fa-microchip core-fs-35"></i>
                                    <h3>Сборка и настройка техники</h3>
                                    <p>
                                        Понимаю как работает компьютер не только с точки зрения программного обеспечения но и
                                        с его аппаратной части. С нуля могу собрать компьютер (игровой или рабочую машину)
                                        Накатить Windows, Linux. Поставить нужные драйвера, оптимизировать систему и главное ничего лишнего!
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-4  p-2">
                                <div class="shadow p-5 h-100 text-center">
                                    <i class="fas fa-cloud core-fs-35"></i>
                                    <h3>Облачные технологии</h3>
                                    <p>
                                        Это новые и современные решения как в личном использовании так
                                        и для бизнеса, набор технологий, позволяющий использовать ресурсы удаленных систем
                                        (Google, Yandex, Amazon, IFTTT, Google Sheets и тд)
                                        В случае с облаком вы платите только за фактическое использованные ресурсы.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing">
        <div class="core-img">
            <div class="img-color-overlay">
                <div class="container ">
                    <div class="row pb-5 pt-5">
                        <div class="col-12 col-sm-12 text-center">
                            <p class="h3 mb-5">Цены</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 p-3">
                            <div class="p-4 shadow core-bg-white text-center h-100">
                                <i class="fas fa-calendar core-fs-35"></i>
                                <h4>Полная занятость</h4>
                                <p>Предложения о сотрудничестве на Full Time отправляейте на почту или пишите в сициальных сетях</p>
                                <h5>В Direct</h5>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 p-3">
                            <div class="p-4 shadow core-bg-white text-center h-100">
                                <i class="fas fa-file core-fs-35"></i>
                                <h4>Проектная работа</h4>
                                <p>Помогу и решу любую вашу задачу. Есть ТЗ или наброски задания. Пишите, спрашивайте </p>
                                <h5>От 2000р</h5>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 p-3">
                            <div class="p-4 shadow core-bg-white text-center h-100">
                                <i class="fas fa-clock core-fs-35"></i>
                                <h4>Час работы</h4>
                                <p>Это может быть консультация, правка вашего кода, обучение и тд </p>
                                <h5>От 1500р</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contactMy">
        <div class="core-img-map">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-12 col-sm-12 text-center">
                        <p class="h3">Заинтересованы в работе?</p>
                        <p class="h3">Свяжитесь со мной</p>
                        <i class="fas fa-angle-double-down core-fs-65 mb-4 mt-3"></i>
                    </div>
                    <div class="col-sm-12 text-center">
                        <span class="p-2">
                            <a href="https://www.instagram.com/micom_" style="color:#000000;" title="instagram"><i class="fab fa-instagram core-fs-65"></i></a>
                        </span>
                        <span class="p-2">
                            <a href="mailto:redgame0@gmail.com?subject='Сотрудничество MicoGroup'" style="color:#000000;"> <i class="fa fa-envelope core-fs-65"></i></a>
                        </span>
                        <span class="p-2">
                            <a href="tel:+79231880845" style="color:#000000;"><i class="fas fa-phone-square core-fs-65"></i></a>
                        </span>
                        <span class="p-2">
                            <a href="https://vk.com/micom" style="color:#000000;" title="VK"><i class="fab fa-vk core-fs-65"></i></a>
                        </span>
                        <span class="p-2">
                            <a href="https://t.me/imickey1" style="color:#000000;"><i class="fab fa-telegram-plane core-fs-65"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<section class="rubbish">
        <div class="container">
            <div class="row">
                <div class="col-12 p-5"></div>

                <div class="col-sm-12 text-center">
                    <h3>Заинтересованы в работе?</h3>
                    <p>
                        сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                        Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                    </p>
                    <button type="button" class="btn btn-primary">Оставить контакты</button>
                </div>

                <div class="col-12 p-5"></div>

            </div>

            <div class="row">
                <div class="col-12 p-5"></div>
                <div class="col-sm-12 pb-4 text-center">
                    <h2>Профессиональные навыки</h2>
                </div>

                <div class="col-sm-6 p-2">
                    <p class="text-center h3">BACKEND</p>

                    <div class="skills-item">
                        <p class="h6">ADO.net</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                        </div>
                    </div>
                    <div class="skills-item">
                        <p class="h6">LINQ</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
                        </div>
                    </div>
                    <div class="skills-item">
                        <p class="h6">MVC</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 p-2">
                    <p class="text-center h3">FRONTEND</p>

                    <div class="skills-item">
                        <p class="h6">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
                        </div>
                    </div>
                    <div class="skills-item">
                        <p class="h6">Vue.js</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
                        </div>
                    </div>
                    <div class="skills-item">
                        <p class="h6">jQuery</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%">30%</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-5"></div>

            </div>
        </div>

        <div class="Table-Lists">
            <div class="core-img">
                <div class="img-color-overlay">
                    <div class="container">
                        <div class="row pt-5">
                            <div class="col-sm-12 text-center">
                                <h3 class="mt-5 mb-5">Пару слов о проетах</h3>
                            </div>

                            <div class="col-sm-12">
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <img class="d-block w-100" src="http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/p-2.png" alt="First slide1">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <h3>Control views</h3>
                                                        <p>
                                                            сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                                                            Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="carousel-item">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <img class="d-block w-100" src="http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/p-2.png" alt="First slide23">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <h3>Hi</h3>
                                                        <p>
                                                            сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                                                            Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>*@
    

</body>
</html>
