@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>С# Senior Developer</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <style>

        .box {
            align-self: flex-end;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            transform-origin: bottom;
        }

        .bounce-1 {
            animation-name: bounce-1;
            animation-timing-function: linear;
        }

        @@keyframes bounce-1 {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-15px);
            }

            100% {
                transform: translateY(0);
            }
        }



        .section-seporator {
            padding: 100px 0px;
        }

        ul {
            margin: 0px;
            padding: 0px;
        }

            ul li {
                list-style-type: none;
            }

        .core-img {
            background-image: url(../image/home-bg-img.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0 auto;
            background-position: center center;
        }

        .core-img-map {
            background-image: url(../image/map-color-overlay.png);
        }

        .core-bg-white {
            background-color: white;
        }

        .img-color-overlay {
            background-color: rgb(255, 255, 255, 0.9);
        }

        address {
            display: inline-block;
            margin: 0px;
        }

        .border-img {
            border: 20px solid rgb(2, 2, 2, 0.1);
            border-radius: 32%;
            min-width: 250px;
            max-width: 350px;
        }

            .border-img img {
                border: 20px solid rgb(128, 128, 128, 0.17);
                border-radius: 30%;
            }

        .home-padding {
            padding: 150px 0px;
        }

        .about-inner ul > li {
            display: inline-block;
            border: 1px solid #8cff8c;
            padding: 4px 10px;
            border-radius: 4px;
            margin: 1px;
        }

            .about-inner ul > li:hover {
                background-color: #f5ab359e;
            }

        .core-fs-35 {
            font-size: 35px;
        }

        .core-fs-65 {
            font-size: 65px;
        }

        .core-img-logo {
            max-width: 160px;
        }
    </style>
</head>
<body>
    <main>

        <div class="welcome">
            <div class="core-img">
                <div class="img-color-overlay">
                    <div class="container">
                        <div class="home-padding">
                            <div class="row">
                                <div class="col-12 col-sm-6 pb-5 d-flex align-items-center justify-content-center text-center">
                                    <div>
                                        <h1>Welcome👋</h1> <br>
                                        <h3>Меня зовут Миша,<br>Я занимаюсь разработкой IT </h3>
                                        <h4>С# Senior Developer, Full Stack</h4>

                                        <ul>
                                            <li>
                                                <i class="fab fa-github"></i>
                                                <a href="https://github.com/Mico-LIT">Github</a>
                                            </li>
                                            @*<li>
                                                <i class="fas fa-phone"></i>
                                                <a href="tel:+7(923)188-08-45">+7(923)188-08-45</a>
                                            </li>*@
                                            <li>
                                                <i class="fa fa-envelope"></i>
                                                <a href="mailto:redgame0@gmail.com?subject='Сотрудничество MicoGroup'">BorovikMA@icloud.com</a>
                                            </li>
                                            <li>
                                                <i class="fab fa-instagram"></i>
                                                <a href="https://www.instagram.com/micom_">Instagram</a>

                                                <i class="fab fa-telegram"></i>
                                                <a href="https://t.me/imickey1">Telegram</a>

                                                <i class="fab fa-vk"></i>
                                                <a href="https://vk.com/micom">VK</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 pb-5 d-flex align-items-center justify-content-center">
                                    <div class="">
                                        <div class="border-img">
                                            <img src="https://avatars0.githubusercontent.com/u/13939762?s=460&v=4" class="img-fluid" />
                                            @*<img src="https://avatars0.githubusercontent.com/u/13939761?s=460&v=4" class="img-fluid" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about">
            <div class="container">
                <div class="row pt-4 pb-5">
                    <div class="col-12 text-center">
                        <h2>Обо мне</h2>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/ab-img.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="about-inner pt-3">
                            <p class="text-justify">
                                Подсел на цифровую иглу 💉 в 20х. Мне удалось зацепить этот момент, когда мир начал переходить
                                из аналогово в цифровую среду! Как помню, первый компьютер на DOS (дисковая операционная система) 💾.
                                Мне стало интересно, как это работает и понеслось...😅 Со временем купил комплектующие,
                                собрал свой компьютер, подключил, настроил и вот она 🚀 игры, учеба и интернет).
                                Кстати, я помню эти звуки, когда ты делаешь подключение для выхода в сеть 🕸)
                                Взлом игр, поиск узких мест в ПО, общение на форумах, добавление модификаций в прошивку телефона📱,
                                установка и настройка спутникового интернета\тв. Ух, времена)!
                                Я понимаю, что общение с любой цифровой техникой идёт на ты), принимаю решение,
                                что мне нужно высшее техническое образование и расширение своего кругозора в сфере технологий!
                                И вот я в IT) В нашем деле важно постоянно держать руку на пульсе.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="experience">
            <div class="core-img">
                <div class="img-color-overlay">
                    <div class="container">
                        <div class="row pb-5 pt-5">
                            <div class="col-12 pb-5">
                                <h3 class="pb-5 text-center">📚Образование📚</h3>

                                <div class="core-bg-white shadow p-4">
                                    <p class="h5">
                                        СГУПС "Сибирский государственный университет путей сообщения",<br>
                                        факультет  <a href="https://www.stu.ru/education/index.php?page=176">"Бизнес-информатика"</a>,<br>
                                        направление: <span class="font-italic">"Информационные системы и технологии"</span>
                                    <p>2013-2017</p>
                                    <div>
                                        <p class="m-0 text-justify">
                                            Закончил высшее учебное заведение в городе Новосибирск.
                                            Факультет БИ "Бизнес-информатика" выделялся из всех, это была вишенка на торте🍒. Я понимал,
                                            что мир меняется, он становится цифровым, и именно “Бизнес-информатика” — это то, что мне нужно!
                                            В университете был хороший преподавательский состав.
                                            Универ дал широкий спектр для выбора направления: 🧭.
                                        </p>
                                        <ul>
                                            <li>• Программирование</li>
                                            <li>• Сопровождение бизнес процессов и корпоративных информационных систем</li>
                                            <li>• Сетевые технологии</li>
                                            <li>• Базы данны</li>
                                            <li>• Интеллектуальные информационные системы</li>
                                            <li>• Web-технологии</li>
                                            <li>• Моделирование бизнес-процессов</li>
                                        </ul>
                                        <p class="m-0 text-justify">
                                            Мне больше импонировало что-то создавать, реконструировать сложные объекты,
                                            делать связку между разными системами и видеть результат. Я выбрал программирование.
                                            Университет даёт базу, а дальше все зависит только от тебя, главное продолжать учиться!
                                        </p>
                                    </div>
                                </div>

                                <div class="core-bg-white shadow p-4">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <h5 class="card-title text-center">Книги 📚 </h5>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Стив Макконнелл: Совершенный код. Мастер-класс
                                                            <span class="badge badge-primary badge-pill">35%</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Приемы объектно-ориентированного проектирования. Паттерны проектирования
                                                            <span class="badge badge-primary badge-pill">0%</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Алгоритмы: построение и анализ Книга, Клиффорд Штайн, Рональд Линн Ривест, Томас Кормен, и Чарльз Эрик Лейзерсон
                                                            <span class="badge badge-primary badge-pill">0%</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Рефакторинг. Улучшение проекта существующего кода | Фаулер Мартин, Бек Кент
                                                            <span class="badge badge-primary badge-pill">0%</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <h5 class="card-title text-center">Цифровая информация🌐</h5>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            <a href="https://itvdn.com/ru">Itvdn "Видеокурсы по программированию"</a>
                                                            <span class="badge badge-primary badge-pill">60%</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            <a href="http://www.quizful.net/page/about">Quizful сервиса онлайн тестирования</a>
                                                            <span class="badge badge-primary badge-pill">40%</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            <a href="https://docs.microsoft.com/ru-ru/">Microsoft Docs</a>
                                                            <span class="badge badge-primary badge-pill">30%</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            <a href="http://www.pskills.org/onlinetest.jsp">Programming skills</a>
                                                            <span class="badge badge-primary badge-pill">20%</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            <a href="https://www.tutorialspoint.com/index.htm">Tutorialspoint</a>
                                                            <span class="badge badge-primary badge-pill">20%</span>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="pt-4">
                                                <h3 class="text-center">
                                                    <a href="https://github.com/Mico-LIT">📍 Портфолио <i class="fab fa-github"></i> 📍</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-12">
                                <h3 class="pb-5 text-center">Опыт работы</h3>

                                <div class="core-bg-white shadow p-4">
                                    <a class="h5" href="https://www.stu.ru">СГУПС "Сибирский государственный университет путей сообщения"</a>
                                    <img src="~/image/logo/Sgups_logo.jpg" alt="1xbet" class="rounded float-right core-img-logo p-2">
                                    <p>Дата 01.2017</p>
                                    <p class="text-justify">
                                        Была поставлена задача в существующем бизнес процессе на предприятии- выполнить оптимизацию с документооборотом.
                                        Операционист рассказал, показал все процессы и указывал на боли в работе.
                                        <br>
                                        Отдел занимается выдачей сертификатов ученикам прошедшим тот или иной курс и выполняет их учет (протоколирование).
                                        Покупался сертификат + к нему  шло программное обеспечение. При этом операционист выполнял работу с десятками сертификатов и
                                        к каждому сертификату предоставлялось своё ПО. Было принято решение сделать все в одной программе и реализовать учёт выданных сертификатов.
                                        <br>
                                        После того, как я изучил, проанализировал, систематизировал все проблемы и начал решать эту задачу!
                                        <br>
                                        Была реализована программа первой версии, которая выполняла следующие: сканирование сертификатов разных типов (шаблоны) и
                                        сохранение в базу данных, экспортирование данных из одной информационной системы в другую.
                                        Ведение учета по выданным сертификатам выпускнику,прошедшему курс, выполнялась автоматически и был реализован легкий доступ к этой информация.
                                        Операционист после сканирования сертификата указывал, где будет выводиться нужная информация текущего сертификата,
                                        печать шаблона и вывода данных под каждый тип сертификата.
                                    </p>

                                    <h3 class="text-center">Stack technology:</h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">BakcEnd "C#"</h5>
                                                    <ul>
                                                        <li>.Net Framework</li>
                                                        <li>WPF xaml</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">Other Systems:</h5>
                                                    <ul>
                                                        <li>GitHub</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="core-bg-white shadow p-4">
                                    <a class="h5" href="https://www.otlnal.ru/">Отличные наличные "Микрофинансовая компания"</a>
                                    <img src="~/image/logo/OtlNal_logo.png" alt="1xbet" class="rounded float-right  core-img-logo p-2">
                                    <p>Дата 11.2016 - 07.2018</p>
                                    <p class="text-justify">
                                        В обязанности входило: сопровождение, разработка и доработка текущего функционала.
                                        Поступали задачи разного характера: написания SQL (процедур, триггеров, функций),
                                        проведение нормализации БД, создание API для сторонних продуктов,
                                        внедрение и разработка API для внутренних бизнес процессов.
                                        Основная логика была реализована на SQL процедурах + в процессе была реализована API, попытка абстрагироваться от SQL.
                                        Был применён паттерн DDD(domain driving design), в качестве ORM использовали Hibernates.
                                        Работал с телефонией Oktell (создание сценариев и поведения системы).
                                        Плотно работал с Microsoft SQL Server. Параллельно писалась своя телефония на AngularJS, занимался ее обслуживанием. Была своя АТС asterisk.
                                    </p>

                                    <h3 class="text-center">Stack technology:</h3>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">BakcEnd "C#"</h5>
                                                    <ul>
                                                        <li>ASP.net MVC | Web API | WebForms</li>
                                                        <li>Microsoft SQL Server</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">FrontEnd:</h5>
                                                    <ul>
                                                        <li>HTML</li>
                                                        <li>CCS</li>
                                                        <li>JS</li>
                                                        <li>jQuery</li>
                                                        <li>AngularJS</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">Other Systems:</h5>
                                                    <ul>
                                                        <li>IIS</li>
                                                        <li>TFS</li>
                                                        <li>GitLab</li>
                                                        <li>Oktell (Телефония)</li>
                                                        <li>Atlassian (Jira)</li>
                                                        <li>Atlassian (Confluence)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="core-bg-white shadow p-4">
                                    <a class="h5" href="https://classboom.com/">ClassBoom "Единый абонемент фитнеса"</a>
                                    <img src="~/image/logo/ClassBoom_logo.png" alt="1xbet" class="rounded float-right  core-img-logo p-2">
                                    <p>Дата 07.2018 - 10.2019</p>
                                    <ul>
                                        <li class="font-italic">Разработка продукта, и внедрение новых сервисов.</li>
                                        <li>• Поддержка приложения и внутренней CRM</li>
                                        <li>• Интеграция с Yclients</li>
                                        <li>• Реализация парсеров для сайтов партнеров</li>
                                        <li>• Нормализация БД, систематизация данных</li>
                                        <li>• Составление отчетов для бухгалтерии и менеджеров</li>
                                        <li>• Тестирование приложения, нахождение ошибок</li>
                                        <li class="font-italic">Разработка маркетинговых инструментов</li>
                                        <li>• Email рассылка</li>
                                        <li>• Интеграция с UniSender</li>
                                        <li>• Amazon Services (Push notifications)</li>
                                    </ul>

                                    <p class="text-justify">
                                        Принимал участие в планерках по улучшению приложения, выдвигал предложения по оптимизации бизнес процессов
                                        как для внутренней системы, так и для пользователей.
                                        Проводил нагрузочное тестирование Api (Apache JMeter),
                                        находил узкие места в SQL запросах, API и увеличивал пропускную способность выполнения.
                                    </p>

                                    <h3 class="text-center">Stack technology:</h3>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">BakcEnd "C#"</h5>
                                                    <ul>
                                                        <li>Microsoft SQL Server</li>
                                                        <li>MsMQ</li>
                                                        <li>ORM Dapper, EntityFramework</li>
                                                        <li>ASP.net MVC | Web API</li>
                                                        <li>Многоуровневая архитектура (3 уровня)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">FrontEnd:</h5>
                                                    <ul>
                                                        <li>HTML5</li>
                                                        <li>AngularJs</li>
                                                        <li>Vue</li>
                                                        <li>Framework7</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">Other Systems:</h5>
                                                    <ul>
                                                        <li>IIS</li>
                                                        <li>Jira</li>
                                                        <li>Bitbucket</li>
                                                        <li>Amazon</li>
                                                        <li>Apache JMeter</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="core-bg-white shadow p-4">
                                    <a class="h5" href="https://1xstavka.ru/">1XBET "Букмекерская компания"</a>
                                    <img src="~/image/logo/1xbet_logo.png" alt="1xbet" class="rounded float-right core-img-logo p-2">
                                    <p>Дата 10.2019 - по настоящее время</p>
                                    <p class="text-justify">
                                        Букмекерская компания 1xBet - это более 400 000 пользователей.
                                        Это большой выбор ставок, не только на спортивные события, но и на TV-игры.
                                        Работал в команде по интеграции "Онлайн казино".
                                        В обязанности входило: интеграция новых продуктов, создания сервисов (ASP.NET Core | Web API | WCF).
                                        Общение с командой и решение текущих вопросов за прожитый день. Обсуждение вопросов с манагерами и непосредственно с представителями платформы.
                                        Перевод старых сервисов WCF на ASP.NET Core. Микросервисная архитектура.
                                        Деплой проектов через TeamCity. Задачи в "YouTrack". Контроль версий GitLab.
                                    </p>

                                    <h3 class="text-center">Stack technology:</h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">BakcEnd "C#"</h5>
                                                    <ul>
                                                        <li>.Net Core</li>
                                                        <li>.Net Framework</li>
                                                        <li>RabbitMQ</li>
                                                        <li>ADO.Net</li>
                                                        <li>ASP.NET Core | Web API</li>
                                                        <li>WCF</li>
                                                        <li>MySQL</li>
                                                        <li>MongoDB</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">Other Systems:</h5>
                                                    <ul>
                                                        <li>Kibana</li>
                                                        <li>Hackmd</li>
                                                        <li>YouTrack</li>
                                                        <li>GitLab</li>
                                                        <li>Atlassian (Confluence)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>

                        <div class="row pb-5">
                            <div class="col-12">
                                <div class="core-bg-white shadow p-4">

                                    <h3 class="text-center">Опыт работы в сфере IT : Более @(ViewBag.DateWork) лет 🎉</h3>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="servicee">
            <div class="container">
                <div class="row pt-5">
                    <div class="col-sm-12">
                        <h2 class="text-center mb-5">Чем я могу быть полезен 🎯</h2>
                    </div>

                    <div class="col-12 col-md-4 p-2">
                        <div class="shadow p-5 h-100 text-center">
                            <i class="fas fa-object-ungroup core-fs-35"></i>
                            <h3>App-Разработка</h3>
                            <p class="text-justify">
                                Настольное приложение может покрыть широкий спектр задач.
                                Это может быть решение по оптимизации бизнес процессов, выполнение сложных математических вычислений,
                                лабораторная работа, парсинг, получение в онлайне актуальных данных с любых ресурсов или вообще настольные игры.
                                Реализовать можно все!
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="shadow p-5 h-100 text-center">
                            <i class="fas fa-bullseye core-fs-35"></i>
                            <h3>Консалтинг</h3>
                            <p class="text-justify">
                                Это важный сегмент. Разработка любого продукта стоит немалых денег,
                                и любой недочёт или ошибка будет упираться именно в них.
                                На этом этапе обсуждается на каком языке будет написан продукт,
                                сложность, поддержка, хранение данных, разработка прототипа, анализ вашего исходного программного кода и т.д.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="shadow p-5 h-100 text-center">
                            <i class="fas fa-code core-fs-35"></i>
                            <h3>Web-Разработка</h3>
                            <p class="text-justify">
                                Создание как статических, так и динамических интернет-продуктов,
                                охватывая весь спектр FrontEnd и BackEnd. Web, позволяет внедрять и автоматизировать
                                уникальные бизнес-процессы на предприятии,
                                а также усовершенствовать существующие корпоративные системы управления. Работа в двух секторах B2C и B2B
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center pb-5">
                    <div class="col-12 col-md-4  p-2">
                        <div class="shadow p-5 h-100 text-center">
                            <i class="fas fa-microchip core-fs-35"></i>
                            <h3>Сборка и настройка техники</h3>
                            <p class="text-justify">
                                Понимаю как работает компьютер не только с точки зрения кода,
                                программного обеспечения, но и с его аппаратной части.
                                С нуля могу собрать компьютер (игровой или офисный PC),
                                накатить Windows, Linux, поставить нужные драйвера, оптимизировать систему и главное ничего лишнего!
                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-md-4  p-2">
                        <div class="shadow p-5 h-100 text-center">
                            <i class="fas fa-cloud core-fs-35"></i>
                            <h3>Облачные технологии</h3>
                            <p class="text-justify">
                                Это новые и современные решения как в личном использовании, так и для бизнеса, набор технологий,
                                позволяющий использовать ресурсы удаленных систем (Google, Yandex, Amazon, IFTTT, Google Sheets и т.д.).
                                В случае с облаком вы платите только за фактическое использованные ресурсы.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pricing">
            <div class="core-img">
                <div class="img-color-overlay">
                    <div class="container">
                        <div class="row pb-5 pt-5">
                            <div class="col-12 col-sm-12 text-center">
                                <p class="h3 mb-5">Цены 💵</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 p-3">
                                <div class="p-4 shadow core-bg-white text-center h-100 d-flex flex-column">
                                    <i class="fas fa-calendar core-fs-35"></i>
                                    <h4>Полная занятость</h4>
                                    <p class="text-justify text-center">Предложения о сотрудничестве на Full Time отправляйте на почту или пишите в социальных сетях</p>
                                    <h5 class="mt-auto p-2">В Direct</h5>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 p-3">
                                <div class="p-4 shadow core-bg-white text-center h-100 d-flex flex-column">
                                    <i class="fas fa-file core-fs-35"></i>
                                    <h4>Проектная работа</h4>
                                    <p class="text-justify text-center">Помогу и решу любую вашу задачу. Есть ТЗ или наброски задания. Пишите, спрашивайте</p>
                                    <h5 class="mt-auto p-2">От 3000р</h5>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 p-3">
                                <div class="p-4 shadow core-bg-white text-center h-100 d-flex flex-column">
                                    <i class="fas fa-clock core-fs-35"></i>
                                    <h4>Час работы</h4>
                                    <p class="text-justify text-center">Это может быть консультация, правка вашего кода, обучение и т.д.</p>
                                    <h5 class="mt-auto p-2">От 1500р</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="core-img-map">
                <div class="container">
                    <div class="row pt-5 pb-5">
                        <div class="col-12 col-sm-12 text-center">
                            <p class="h3">Заинтересованы в работе?</p>
                            <p class="h3">Свяжитесь со мной</p>
                            <i class="box bounce-1 fas fa-angle-double-down core-fs-65 mb-2 mt-3" style="color: royalblue;"></i>
                        </div>
                        <div class="col-sm-12 text-center">
                            <span class="p-2">
                                <a href="mailto:redgame0@gmail.com?subject='Сотрудничество MicoGroup'" style="color:#000000;"> <i class="fa fa-envelope core-fs-65"></i></a>
                            </span>
                            <span class="p-2">
                                <a href="https://www.instagram.com/micom_" style="color:#000000;" title="instagram"><i class="fab fa-instagram core-fs-65"></i></a>
                            </span>
                            <span class="p-2">
                                <a href="https://t.me/imickey1" style="color:#000000;"><i class="fab fa-telegram-plane core-fs-65"></i></a>
                            </span>
                            <span class="p-2">
                                <a href="https://vk.com/micom" style="color:#000000;" title="VK"><i class="fab fa-vk core-fs-65"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </main>
</body>
</html>
