
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MicoGroup</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>

        .section-seporator {
            padding: 100px 0px;
        }

        .section-seporator-title {
            margin-bottom: 60px;
        }

        ul {
            margin: 0px;
            padding: 0px;
        }

            ul li {
                list-style-type: none;
            }

        .core-img {
            background-image: url(http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/home-bg-img.jpg)
        }

        .core-img-map {
            background-image: url(http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/map-color-overlay.png);
        }

        .core-bg-white {
            background-color: white;
        }

        .img-color-overlay {
            background-color: rgb(255, 255, 255, 0.9);
        }

        .img-bg {
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0 auto;
            background-position: center center;
        }

        address {
            display: inline-block;
            margin: 0px;
        }

        .border-img {
            border: 20px solid rgb(2, 2, 2, 0.1);
            border-radius: 32%;
            width: 350px;
        }

            .border-img img {
                border: 20px solid rgb(128, 128, 128, 0.17);
                border-radius: 30%;
            }

        .home-padding {
            padding: 180px 0px;
        }

        .about-inner ul > li {
            display: inline-block;
            border: 1px solid #8cff8c;
            padding: 4px 10px;
            border-radius: 4px;
            margin:1px;
        }

            .about-inner ul > li:hover {
                background-color: #f5ab359e;
            }

        .core-fs-35 {
            font-size: 35px;
        }

        .core-fs-65 {
            font-size: 65px;
        }
    </style>
</head>
<body>
    <header></header>

    <section class="core-img img-bg">
        <div class="img-color-overlay home-padding">

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Боровик Михаил</h1>
                        <h2>Full Stack Web Developer С#</h2>

                        <ul>
                            <li>
                                <i class="fas fa-phone"></i>
                                <a href="collto:">+7(923)188-08-45</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:">redgame0@gmail.com</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <address>
                                    Новосибирск, Россия
                                </address>
                            </li>
                            <li>
                                <i class="fab fa-github"></i>
                                <a href="https://github.com/Mico-LIT">Github</a>
                            </li>
                            <li>
                                <i class="fab fa-instagram"></i>
                                <a href="https://www.instagram.com/micom_">Micom_</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <div class="border-img">
                            <img src="https://avatars0.githubusercontent.com/u/13939762?s=460&v=4" class="img-fluid" />
                            @*<img src="https://avatars0.githubusercontent.com/u/13939761?s=460&v=4" class="img-fluid" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="about section-seporator">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img src="http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/ab-img.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="about-inner">
                        <h2>Обо мне</h2>
                        <p>
                            Привет! я ... Web-Debeloper
                            Личные качества: внимательность, ответственность, уверенность в себе, порядочность, упорство, стремление развиваться, желание работать, решительность.
                            Спорт: баскетбол, волейбол, плавание, теннис.
                            Дополнительная информация:
                            Черпаю знания из книг и интернет ресурса <a href="https://itvdn.com/ru">ITVDN</a>
                            Огромное желание и рвевение изучить "экосистему .NET"
                        </p>
                        <div>
                            <ul>
                                <li>Atlassian Jira, TFS</li>
                                <li>.NET Framework</li>
                                <li>ADO.NET</li>
                                <li>ООП</li>
                                <li>SQL</li>
                                <li>Java</li>
                                <li>ASP.NET</li>
                                <li>MVC</li>
                                <li>Git</li>
                                <li>JSON</li>
                                <li>Работа с Oktell</li>
                                <li>WebAPI REST</li>
                                <li>Hibernate ORM</li>
                                <li>Dapper ORM</li>
                                <li>Entity Framework (EF) ORM</li>
                                <li>Transact-SQL, DDL & DML</li>
                                <li>LINQ to SQL, LINQ to Object</li>
                                <li>WPF | XAML</li>
                                <li>HTML</li>
                                <li>Bootstrap</li>
                                <li>HTML</li>


                                <li>HTML</li>

                                <li>AngularJS</li>
                                <li>Vue.js</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>jQuery</li>
                                <li>Ajax</li>

                                <li>Amazon AWS</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service section-seporator">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-seporator-title">
                    <h2 class="text-center ">Что я делаю</h2>
                </div>
                <div class="col-sm-4">
                    <div class="service-box-shadow shadow p-5">
                        <i class="fas fa-bullseye core-fs-35"></i>
                        <h3>UI Дизайн</h3>
                        <p>
                            сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                            Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="shadow p-5">
                        <i class="fas fa-code core-fs-35"></i>
                        <h3>Веб-Разработка</h3>
                        <p>
                            сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                            Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="shadow p-5">
                        <i class="fas fa-object-ungroup core-fs-35"></i>
                        <h3>App-Разработка</h3>
                        <p>
                            сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                            Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="core-img img-bg featured-projects">
        <div class="img-color-overlay">
            <div class="container">
                <div class="row section-seporator">
                    <div class="col-sm-12 text-center section-seporator-title">
                        <h3>Пару слов о проетах</h3>
                    </div>

                    <div class="col-sm-12">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <img class="d-block w-100" src="http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/p-2.png" alt="First slide1">
                                            </div>
                                            <div class="col-sm-4">
                                                <h3>Control views</h3>
                                                <p>
                                                    сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                                                    Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <img class="d-block w-100" src="http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/p-2.png" alt="First slide23">
                                            </div>
                                            <div class="col-sm-4">
                                                <h3>Hi</h3>
                                                <p>
                                                    сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                                                    Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="skills section-seporator">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-seporator-title text-center">
                    <h2>Навыки</h2>
                </div>

                <div class="col-sm-6">
                    <p class="text-center h3">BACKEND</p>

                    <div class="skills-item">
                        <p class="h6">ADO.net</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                        </div>
                    </div>
                    <div class="skills-item">
                        <p class="h6">LINQ</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
                        </div>
                    </div>
                    <div class="skills-item">
                        <p class="h6">MVC</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <p class="text-center h3">FRONTEND</p>

                    <div class="skills-item">
                        <p class="h6">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
                        </div>
                    </div>
                    <div class="skills-item">
                        <p class="h6">Vue.js</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
                        </div>
                    </div>
                    <div class="skills-item">
                        <p class="h6">jQuery</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%">30%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="core-img img-bg experience">
        <div class="img-color-overlay">
            <div class="container">
                <div class="row section-seporator">
                    <div class="col-sm-12">
                        @*<h3>Опыт</h3>*@
                    </div>
                    <div class="col-sm-6">
                        <h3 class="section-seporator-title">Образование</h3>

                        <div class="core-bg-white shadow p-3">
                            <p class="h5">
                                Сибирский государственный университет путей сообщения (СГУПС), Новосибирск
                                Факультет "Бизнес-информатика", Информационные системы и технологии
                            </p>
                            <p>2013-2017</p>
                            <p>
                                сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                                Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <h3 class="section-seporator-title">Опыт работы</h3>

                        <div class="core-bg-white shadow p-3">
                            <p class="h5">СГУПС</p>
                            <p>2013-2017</p>
                            <p>
                                сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                                Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="request section-seporator">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Заинтересованы в работе?</h3>
                    <p>
                        сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                        Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа существенных финансовых и административных условий.
                    </p>
                    <button type="button" class="btn btn-primary">Оставить контакты</button>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing core-img img-bg ">
        <div class="img-color-overlay">
            <div class="container section-seporator">
                <div class="row">
                    <div class="col-sm-12 text-center section-seporator-title">
                        <p class="h3">Цены</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="p-4 shadow core-bg-white text-center">
                            <i class="fas fa-calendar core-fs-35"></i>
                            <h4>Полное время работы</h4>
                            <p>
                                сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                            </p>
                            <h5>от 1100$</h5>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="p-4 shadow core-bg-white text-center">
                            <i class="fas fa-file core-fs-35"></i>
                            <h4>Проектная работа</h4>
                            <p>
                                сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                            </p>
                            <h5>$20-500$</h5>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="p-4 shadow core-bg-white text-center">
                            <i class="fas fa-hourglass core-fs-35"></i>
                            <h4>Час работы</h4>
                            <p>
                                сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации.
                            </p>
                            <h5>$10</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ContactMy section-seporator core-img-map">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-sm-12 text-center section-seporator-title">
                    <p class="h3">Свяжитесь со мной</p>
                </div>
                <div class="col-sm-12 text-center">
                    <span class="p-2">
                        <a href="https://www.instagram.com/micom_" style="color:#000000;" title="instagram"><i class="fab fa-instagram core-fs-65"></i></a>
                    </span>
                    <span class="p-2">
                        <a href="https://vk.com/micom" style="color:#000000;" title="VK"><i class="fab fa-vk core-fs-65"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
